<div>
  <div class="row m-0 p-0 justify-content-center align-items-center">
    <div class="col-lg-2 col-md-5 users py-1 my-2 mx-1 pe-5 ps-3">
      <div class="d-flex align-items-center">
        <div class="one-user mx-1">
          <i class="fa-regular fa-user fa-xl"></i>
        </div>
        <div class="">
          <p class="m-0 p-0 fw-medium">5000</p>
          <span>users</span>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-5 books py-1 my-2 mx-1 pe-5 ps-3">
      <div class="d-flex align-items-center">
        <div class="one-book mx-1">
          <i class="fa-solid fa-book fa-xl"></i>
        </div>
        <div>
          <p class="m-0 p-0 fw-medium">200</p>
          <span>books</span>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-5 sale py-1 my-2 mx-1 pe-5 ps-3">
      <div class="d-flex align-items-center">
        <div class="first-sale mx-1">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </div>
        <div>
          <p class="m-0 p-0 fw-medium">100</p>
          <span>sale</span>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-5 order py-1 my-2 mx-1 pe-5 ps-3">
      <div class="d-flex align-items-center">
        <div class="first-order mx-1">
          <i class="fa-solid fa-list fa-xl"></i>
        </div>
        <div>
          <p class="m-0 p-0 fw-medium">1.2</p>
          <span>orders</span>
        </div>
      </div>
    </div>
  </div>
</div>
