<div class="graph">
  <p class="daily-sales mx-4 pt-4">Daily Sales</p>
  <div class="scale-graph">
    <ul class="scale-markers">
      <li class="scale-marker">
        <span class="scale-value">80</span>
      </li>
      <li class="scale-marker">
        <span class="scale-value">60</span>
      </li>
      <li class="scale-marker">
        <span class="scale-value">40</span>
      </li>
      <li class="scale-marker">
        <span class="scale-value">0</span>
      </li>
    </ul>
    <ul class="scale-bars e">
      <li class="scale-wrap">
        <a class="scale-bar scale-20 rounded-top-5 ms-4" href="#">
          <span class="scale-number">e</span>
        </a>
      </li>
      <li class="scale-wrap">
        <a class="scale-bar scale-0 rounded-top-5 ms-4" href="#">
          <span class="scale-number">v</span>
        </a>
      </li>
      <li class="scale-wrap">
        <a class="scale-bar scale-40 rounded-top-5 ms-4" href="#">
          <span class="scale-number">m</span>
        </a>
      </li>
      <li class="scale-wrap t">
        <a class="scale-bar scale-60 rounded-top-5 ms-4" href="#">
          <span class="scale-number">t</span>
        </a>
      </li>
      <li class="scale-wrap">
        <a class="scale-bar scale-30 rounded-top-5 ms-4" href="#">
          <span class="scale-number">t</span>
        </a>
      </li>
      <li class="scale-wrap n">
        <a class="scale-bar scale-100 rounded-top-5 ms-4" href="#">
          <span class="scale-number">n</span>
        </a>
      </li>
      <li class="scale-wrap">
        <a class="scale-bar scale-90 rounded-top-5 ms-4" href="#">
          <span class="scale-number">f</span>
        </a>
      </li>
      <li class="scale-wrap">
        <a class="scale-bar scale-70 rounded-top-5 ms-4" href="#">
          <span class="scale-number">s</span>
        </a>
      </li>
    </ul>
  </div>
</div>
