.dashboard {
  color: #211b5e;
}
.container-fluid span {
  color: #211b5e;
}
.search-form {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(176, 173, 176, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(176, 173, 176, 1);
  box-shadow: 5px 5px 5px 0px rgb(210, 208, 210);
  background-color: #f0f3f8;
}
h3,
h6,
span {
  color: var(--registeration-color);
}
.chart3,
.chart2 {
  background: #f8f9fc;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(217, 214, 217, 1);
  -moz-box-shadow: 10px 10px 5px -4px rgba(217, 214, 217, 1);
  box-shadow: 10px 10px 5px 0px rgb(232, 229, 232);
}
.navbar2 {
  display: none;
}
.side-bar {
  box-shadow: 4px -10px 10px 4px rgba(232, 229, 232, 0.76);
}

/* @media (max-width: 950px) {
  .n {
    display: none;
  }
  .t {
    display: none;
  }
  .e {
    display: none;
  }
} */
@media (max-width: 780px) {
  .navbar2 {
    display: block;
  }
  .navbar1 {
    display: none;
  }
  .padding {
    display: none;
  }
  hr {
    display: none;
  }
}

.users {
  border: 3px solid #e1cdda;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(176, 173, 176, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(176, 173, 176, 1);
  box-shadow: 15px 15px 20px 0px #eae5e8b4;
  border-radius: 8px;
}
h3 {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 600;
  color: #211b5e;
}
h5 {
  font-size: 1.3em;
  line-height: 1.2em;
  color: #211b5e;
}

ul {
  list-style-type: none;
}
/*-----------------------------*/
/*Graph Code*/
.sec-col {
  display: none;
}
@media (max-width: 786px) {
  .chart2,
  .chart3 {
    margin-bottom: 8%;
  }
  .side-bar {
    display: none;
  }
  .sec-col {
    display: block;
  }
  .first-col {
    display: none;
  }
}
@media (min-width: 820px) and (max-width: 920px) {
  .small-side-bar {
    display: block !important;
  }
  .side-bar {
    display: none;
  }
  .sec-col {
    display: block;
  }
  .first-col {
    display: none;
  }
}
.side-bar {
  box-shadow: 4px -10px 10px 4px rgba(232, 229, 232, 0.76);
}
.small-side-bar {
  display: none;
}
