.input-wrapper {
  position: relative;
}
.input-group {
  position: relative;
}
input {
  border: 2px solid #211b5e;
  border-radius: 6px;
  padding-right: 2.5rem; /* Adjust padding for the icon */
}
label {
  position: absolute;
  top: -1.5ex;
  z-index: 99;
  left: 0.5em; /* Adjust left position */
  background-color: white;
  padding: 0 2px;
}
.input-group-text {
  position: absolute;
  top: 50%;
  right: 0.75rem; /* Adjust right position */
  transform: translateY(-50%);
  cursor: pointer;
}
.input-wrapper {
  position: relative;
}
.registerbtn {
  background-color: var(--registeration-color);
  font-weight: 500;
  font-size: 18px;
  border: 0;
  border-radius: 12px;
}
.signup-title {
  font-weight: 600;
  color: var(--registeration-color);
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .img-class {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .img-class {
    width: 100px;
  }
}
.requiredcolor {
  color: red;
}
h1,
h3 {
  color: var(--registeration-color);
}
h1 {
  font-weight: 700;
  font-size: 26px;
}
a {
  text-decoration: none;
}
