<div class="dashboard container navbar1">
  <nav class="d-flex justify-content-between align-items-center">
    <div class="me-5 mt-3 w-75">
      <form class="d-md-flex w-50" role="search">
        <input
          class="form-control me-2 pe-5 search-form"
          type="search"
          placeholder="Search here...."
          aria-label="Search"
        />
      </form>
    </div>
    <div></div>
    <div>
      <ul class="navbar-nav d-flex flex-row">
        <li>
          <i class="fa-regular fa-bell px-2 fa-lg"></i>
        </li>
        <li class="">
          <i class="fa-solid fa-cart-shopping px-2 fa-lg"></i>
        </li>
        <li class="text-decoration-none">
          <i class="fa-regular fa-message px-2 fa-lg"></i>
        </li>
        <li class="">
          <i class="fa-solid fa-photo-film px-5 fa-lg"></i>
          <!-- <span>Admin</span> -->
        </li>
      </ul>
    </div>
  </nav>
</div>
<hr />
<div class="dashboard container-fluid navbar2 mt-3">
  <nav class="navbar navbar-expand-md p-0 m-0">
    <div class="container-fluid">
      <div class="">
        <div>
          <app-logo></app-logo>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul
          class="navbar-nav d-flex align-items-center justify-content-end flex-row"
        >
          <li class="nav-item py-1">
            <i class="fa-regular fa-bell px-3 fa-lg"></i>
          </li>
          <li class="nav-item py-1">
            <i class="fa-solid fa-cart-shopping px-3 fa-lg"></i>
          </li>
          <li class="nav-item py-1">
            <i class="fa-regular fa-message px-3 fa-lg"></i>
          </li>
          <li class="nav-item py-1">
            <i class="fa-solid fa-photo-film px-3 fa-lg"></i>
          </li>
          <li class="nav-item py-1">
            <i class="fa-solid fa-magnifying-glass px-3 fa-lg"></i>
          </li>
        </ul>
      </div>
      <button
        class="navbar-toggler d-flex justify-content-end"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
