<div class="row m-0 p-0 largeScreen">
  <div class="col-md-2 side-bar pe-5">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-md-9">
    <app-navbar-dashboard></app-navbar-dashboard>
    <div class="bookList-table">
      <div class="bookList-table d-flex justify-content-between mt-2">
        <h2>Book List</h2>
        <a routerLink="/add" class="text-decoration-none">
          <button
            class="btn text-white d-flex justify-content-center align-items-center px-3 ms-4 plus-btn"
          >
            <div class="plus mx-1">
              <i class="fa-solid fa-plus text-white px-1 fa-xs"></i>
            </div>
            <span class="text-white">Add</span>
          </button>
        </a>
      </div>
      <a class="text-decoration-none">
        <table class="table-hover container table table-bordered ms-3">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Img.</th>
              <th scope="col">Title</th>
              <th scope="col">Category</th>
              <th scope="col">Author</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let book of books; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <img
                  src="http://localhost:3000/booksImgs/{{ book.image }}"
                  alt=""
                  style="height: 100px; text-align: center"
                  routerLink="/bookDetails/{{ book._id }}"
                />
              </td>
              <td>{{ book.title }}</td>
              <td>{{ book.category }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.price }}</td>
              <td>
                <div class="d-flex">
                  <a
                    routerLink="/edit/{{ book._id }}"
                    class="text-decoration-none"
                  >
                    <div class="icon1 me-2">
                      <i class="fa-regular fa-pen-to-square fa-xs"></i>
                    </div>
                  </a>
                  <div class="icon2">
                    <i
                      class="fa-solid fa-trash-can fs-xs"
                      data-bs-toggle="modal"
                      [attr.data-bs-target]="'#exampleModal' + book._id"
                    ></i>
                  </div>
                </div>
                <div
                  class="modal fade"
                  [id]="'exampleModal' + book._id"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          {{ book.title }}
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete this book?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          cancel
                        </button>
                        <button
                          type="button"
                          class="btn btn-outline-danger"
                          (click)="deleteBook(book._id)"
                          data-bs-dismiss="modal"
                        >
                          delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
</div>
<div class="smallScreen">
  <app-navbar-dashboard></app-navbar-dashboard>

  <div class="bookList-table d-flex justify-content-around mt-2">
    <h2>Book List</h2>
    <a routerLink="/add" class="text-decoration-none">
      <button
        class="btn text-white d-flex justify-content-center align-items-center px-3 ms-4 plus-btn"
      >
        <div class="plus mx-1">
          <i class="fa-solid fa-plus text-white px-1 fa-xs"></i>
        </div>
        <span class="text-white">Add</span>
      </button>
    </a>
  </div>
  <a routerLink="/bookDetails" class="text-decoration-none">
    <table class="table-hover container table table-bordered">
      <thead>
        <tr>
          <th scope="col">Img.</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <td>
            <img
              src="http://localhost:3000/booksImgs/{{ book.image }}"
              alt=""
              style="height: 100px"
            />
          </td>
          <td>{{ book.category }}</td>
          <td>{{ book.price }}</td>
          <td>
            <div class="d-flex">
              <a routerLink="/edit/{{ book._id }}" class="text-decoration-none">
                <div class="icon1 me-2">
                  <i class="fa-regular fa-pen-to-square fa-xs"></i>
                </div>
              </a>
              <div class="icon2">
                <i
                  class="fa-solid fa-trash-can fs-xs"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="'#exampleModal' + book._id"
                ></i>
              </div>
            </div>
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      {{ book.title }}
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this book?
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      (click)="deleteBook(book._id)"
                      data-bs-dismiss="modal"
                    >
                      delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </a>
</div>
